@media screen and (max-width: 699px) {
  @import url('https://fonts.googleapis.com/css?family=Karma:400,500|Lato:100,300,400,700');
  body, h1, h2, h3, h4, h5, p, a, img {
    margin: 0px;
    font-family: "Lato";
    font-weight: 300;
  }
  a {
    text-decoration: none;
    color: #313131;
    transition: 0.3s;
  }
  a:hover {
    color: #00a5d4;
    transition: 0.3s;
  }
  h3, h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
  }
  h2 {
    font-size: 30px;
  }
  .noscroll {
    overflow: hidden;
  }
  .ignore-css {
    all: unset;
  }
  /* NAV BAR */
  nav {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    position: fixed;
    top: 0;
    height: 20px;
    width: 100%;
    background: white;
    z-index: 2345;
  }

  nav a {
    padding: 2%;
    padding-top: 10px;
  }

  nav h3 {
    font-size: 17px;
  }

  nav h1 {
    font-size: 20px;
    margin-top: 3px;
  }

  .nav-title {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    text-align: left;
    font-size: 12px;
    margin-top: -5px;
    margin-left: 20px;
    cursor: default;
  }
  .nav-title_bold {
    font-family: "Lato";
    font-weight: 800;
    color: black;
    transition: 0.3s;
  }
  .nav-title:hover .nav-title_bold {
    color: #00a5d4;
    transition: 0.3s;
  }

  .nav-right {
    display: none;
  }

  .nav-right_shown {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    background: white;
    flex-direction: column;
    padding: 15px 70px 20px 25px;
    margin-top: 20px;
    width: 100%;
    text-align: right;
  }
  #menu {
    display: block;
    width: 10%;
    height: 50px;
    margin-top: 2px;
    z-index: 9999;
  }

  .cursor {
    cursor: pointer;
  }
  .ignore-css {
    all: unset
  }


  #menu:focus ~ .nav-right {
    display: flex;
  }

  /* MODALS */

  .packages-modal {
    display: none;
    position: fixed;
    z-index: 2343;
    margin: auto;
    top: 50px;
    max-width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.5);
  }
  .packages-modal p, .packages-modal h4 {
    padding-top: 20px;
  }

  .packages-modal p {
    padding-bottom: 30px;
  }

  .packages-modal h2 {
    padding-top: 15px;
  }
  .packages-modal-content {
    padding-top: 10px;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    z-index: 234;
  }
  .packages_close {
    float: right;
    font-size: 25px;
    cursor: pointer;
    padding: 0px 20px 0px 20px;
    z-index: 2344;
    margin: 0px -20px;
    transition: 0.1s
  }
  .packages_close:hover {
    background: rgba(200,0,0,0.3);
    color: white;
    transition: 0.3s;
  }


  .cruises-modal {
    display: none;
    position: fixed;
    z-index: 2343;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
    background-color: white;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.5);
    overflow-x: hidden !important;
  }
  .cruises-modal-content {
    padding-top: 10px;
    margin: auto;
    display: block;
    width: 90%;
    max-width: 700px;
    text-align: left;
    z-index: 234;
    overflow-y: scroll;
  }
  .cruises-modal p, .cruises-modal h4 {
    padding-top: 20px;
  }

  .cruises-modal p {
    padding-bottom: 30px;
  }

  .cruises-modal h2 {
    padding-top: 15px;
  }


  .cruises_close {
    float: right;
    font-size: 25px;
    cursor: pointer;
    padding: 0px 20px 0px 20px;
    z-index: 2344;
    margin: 0px 0px 0px -30px;
    transition: 0.1s;
  }

  .cruises_close:hover {
    background: rgba(200,0,0,0.3);
    color: white;
    transition: 0.3s;
  }

  .tours-modal {
    display: none;
    position: fixed;
    z-index: 2343;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
        background-color: white;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.5);
    overflow-x:hidden !important;
  }
  .tours-modal-content {
    padding-top: 10px;
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
    text-align: left;
    z-index: 234;
    overflow-y: scroll;
  }
  .tours-modal p, .tours-modal h4 {
    padding-top: 20px;
  }

  .tours-modal p {
    padding-bottom: 30px;
  }

  .tours-modal h2 {
    padding-top: 15px;
  }
  .tours_close {
    float: right;
    font-size: 25px;
    cursor: pointer;
    padding: 0px 20px 0px 20px;
    z-index: 2344;
    margin: 0px 0px 0px -30px;
    transition: 0.1s;
  }
  .tours_close:hover {
    background: rgba(200,0,0,0.3);
    color: white;
    transition: 0.3s;
  }

  .resorts-modal {
    display: none;
    position: fixed;
    z-index: 2343;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
        background-color: white;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.5);
    overflow-x:hidden !important;
  }
  .resorts-modal-content {
    padding-top: 10px;
    margin: auto;
    display: block;
    width: 90%;
    max-width: 700px;
    text-align: left;
    z-index: 234;
    overflow-y: scroll;
  }
  .resorts-modal p, .resorts-modal h4 {
    padding-top: 20px;
  }

  .resorts-modal p {
    padding-bottom: 30px;
  }

  .resorts-modal h2 {
    padding-top: 15px;
  }
  .resorts_close {
    float: right;
    font-size: 25px;
    cursor: pointer;
    padding: 0px 20px 0px 20px;
    z-index: 2344;
    margin: 0px 0px 0px -30px;
    transition: 0.1s;
  }
  .resorts_close:hover {
    background: rgba(200,0,0,0.3);
    color: white;
    transition: 0.3s;
  }
  /* SLIDESHOW IN TOURS MODAL */
  .slideshow {
    position: relative;
    width: 100%;
    margin: 25px 0px 0px 0px;
  }
  .mySlides {
    overflow: hidden;
    width: 100%;
    height: 200px;
    transition: 0.3s;
  }
  .cursor {
    cursor: pointer;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 31%;
    width: auto;
    padding: 10px;
    margin-top: -50px
    color: white;
    background: rgba(255,255,255,0.5);
    border-radius: 0px 10px 10px 0px;
  }
  .next {
    right: 0;
    border-radius: 10px 0px 0px 10px;
  }
  .numbertext {
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    width: 9.07%;
    text-align: center;
  }
  .demo {
    opacity: 0.6;
    transition: 0.3s;
    height: 50px;
  }
  .active, .demo:hover {
    opacity: 1;
    transition: 0.3s
  }



  .fade {
      animation-name: fade;
      animation-duration: 0.3s;
  }

  modal h2 {
    padding: 0px 10px;
    font-family: "Lato";
    font-weight: 300;
    text-align: center;
  }

  td, th {
    padding: 20px 0px;
    border-bottom: 1px dashed grey;
  }

  @keyframes fade {
    from {opacity: 0}
    to {opacity: 100}
    }
  }
  @keyframes zoom {
      from {transform:scale(0.7)}
      to {transform:scale(1)}
  }


  /* MAIN */

  .indexmain {
    margin-top: 75px;
    height: 100% !important;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("/_images/tropicalbg.jpg") no-repeat center;
    background-position: fixed;
    width: 100%;
    margin-top: -30px;
    left: 0;
  }

  .slogan {
    position: static;
    font-family: "Lato";
    font-weight: 700;
    text-align: center;
    padding: 50% 25px 60%;
    font-size: 200%;
    color: white;
    text-shadow: 3px 5px 4px #333;
  }
  .slogan-light {
    font-family: "Lato";
    font-weight: 300 !important;
  }

  .cards {
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, rgba(49,49,49,1) 23%, rgba(255,255,255,0) 87%);
    height: auto;
    margin-bottom: -250px;
    padding: 0px 15px;
    z-index: 1098;
    flex-wrap: wrap;
  }

  .card {
    width: 250px;
    background: white;
    height: 300px;
    margin: auto;
    margin-top: -100px;
    margin-bottom: 150px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    z-index: 2342;
  }

  .tours-card {
    height: 325px;
  }

  .card-title {
    text-align: center;
    padding: 20px 0px;
    margin-bottom: -20px;
  }
  .cards p {
    padding: 15px 20px 25px;
    text-align: center;
    font-size: 1.1em;
  }

  .readmore {
    background-color: #00a5d4;
    width: 150px;
    padding: 10px 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    transition: 0.3s;
  }

  .card-picture {
    display: none;
  }

  main h3 {
    font-family: "Lato";
    font-weight: 400;
    font-size: 0.9em;
  }

  .readmore:hover {
    background: #0092bb;
    transition: 0.3s;
  }

  .cards a:hover {
    color: black !important;
  }


  .contact img {
    width: 250px;
    height: 187px;
  }
  /* ABOUT & CONTACT */
  .aboutmain {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .about {
    width: 100%;
    background: #313131;
    margin: 0px;
  }
  .title-right img {
    width: 100%;
    margin: auto;
  }
  .title-left {
    padding: 40px 0px 40px 0px;
    text-align: left;
    color: white;
    width: 100%;
  }
  .title-left h1, .title-right h1 {
    text-align: center;
    color: white;
  }
  .title-right {
    margin: auto;
    width: 80%;
    text-align: left;
    background: #313131;
    color: white;
  }
  .title-left p {
    line-height: 25px;
    padding: 20px;
    font-size: 0.9em;
  }
  .title_bold {
    color: black;
    font-family: "Lato";
    font-weight: 400;
  }

  /* CONTACT */
  .map {
    width: 100% !important;
    height: 300px;
    padding-top: 22px;
  }
  .form {
    text-align: center;
    margin-top: 20px;
  }
  input {
    width: 220px;
    height: 25px;
    margin: 0px 25px;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
    border: white 2px solid;
  }
  .textarea {
    width: 500px;
    height: 60px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
    border: white 2px solid;
  }
  .textarea:focus {
    border: #00a5d4 2px solid;
    box-shadow: 2px 2px 5px black;
  }
  input:focus {
    border: #00a5d4 2px solid;
    box-shadow: 2px 2px 5px black;
  }
  .submit {
    background: #00a5d4;
    font-size: 20px;
    font-family: "Lato";
    font-weight: 300;
    box-shadow: 2px 2px 5px black;
    border: 0px;
    width: 130px;
    height: 50px;
    margin-top: 55px;
    text-align: center;
  }
  .submit:active {
    box-shadow: none;
    background: #0092bb;
  }
  /* RESOURCES */
  .table {
    text-align: center;
    margin: 50px;
    background: #313131;
    padding: 30px;
    color: white;
  }
  th {
    font-size: 10px;
    font-family: "Lato";
    font-weight: 300 padding: 0px 20px !important;
    padding-top: 40px;
    border: none;
  }
  tr {
    border: none;
  }
  td {
    padding: 10px 0px 30px 0px;
    border: none;
  }
  th a {
    color: white !important;
    border: none;
  }
  th a:hover {
    color: #00a5d4 !important;
    transition: 0.3s;
  }
  .resourcesh2 {
    font-family: "Lato";
    font-weight: 400;
    font-size: 35px;
  }
  .icons {
    display: none;
  }
  /* GALLERY */
  .gallerypage .title {
    margin-top: 70px !important;
  }
  .slideshow img {
    height: auto;
  }
  .slideshow {
    position: relative;
    width: 100%;
    margin: 20px 0px;
  }
  .mySlides {
    overflow: auto;
    transition: 0.3s;
    height: auto;
  }
  .cursor {
    cursor: pointer;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px color: white;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0px 10px 10px 0px;
  }
  .next {
    right: 0;
    border-radius: 10px 0px 0px 10px;
  }
  .numbertext {
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    width: 7.14%;
    text-align: center;
  }
  .demo {
    opacity: 0.6;
    transition: 0.3s;
    height: 50px;
  }
  .active, .demo:hover {
    opacity: 1;
    transition: 0.3s
  }
  .title {
    margin-top: 100px;
    color: black;
    text-align: center;
  }
  footer {
    background: #313131;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .logo {
    width: 100%;
    text-align: center;
  }
  .logo img {
    width: 200px;
    height: 200px;
    padding-top: 30px;
  }
  .footer-title_bold {
    font-family: "Lato";
    font-weight: 800;
    color: white;
    transition: 0.3s;
  }
  .name {
    padding-top: 50px;
    color: white;
    width: 100%;
    text-align: center;
    margin-right: 5%;
  }

  .name h1 {
    font-size: 25px;
    margin-top: -465px;
  }

  .name p {
    font-size: 12px;
    margin-top: 400px;
    padding-bottom: 20px;
  }

  .contact {
    text-transform: uppercase;
    color: white !important;
    width: 100%;
    font-size: 15px;
    padding-top: 180px;
    text-align: center;
    line-height: 20px
  }
  .contact a {
    color: white;
    transition: 0.3s;
  }

  .contact a:hover {
    color: #00a5d4;
    transition: 0.3s;
  }
  .credit {
    font-size: 10px;
  }
  .credit a {
    color: white;
  }
  .credit a:active {
    color: #09d9ff;
    transition: 0.3s;
  }
  .credit a:active .com {
    color: #FF095A !important;
    transition: 0.3s;
  }
  .com {
    color: white;
    transition: 0.3s;
  }

}
