@import url('https://fonts.googleapis.com/css?family=Karma:400,500|Lato:100,300,400,700');
@media screen and (min-width:700px) {
  body, h1, h2, h3, h4, h5, p, a {
    margin: 0;
    font-family: "Lato";
    font-weight: 300 !important
  }
  a {
    text-decoration: none;
    color: #313131;
    transition: 0.3s
  }
  a:hover {
    color: #00a5d4;
    transition: 0.3s
  }
  h3, h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300
  }
  h2 {
    font-size: 30px
  }
  .noscroll {
    overflow: hidden
  }
  nav {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    background: #fff;
    z-index: 2345
  }
  nav a {
    padding: 10px 9% 9%
  }
  nav h3 {
    font-size: 17px
  }
  nav h1 {
    font-size: 30px
  }
  .nav-title {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    cursor: default;
    margin-top: -15px
  }
  .nav-title_bold {
    font-family: "Lato";
    font-weight: 800;
    color: #000;
    transition: 0.3s
  }
  .nav-title:hover .nav-title_bold {
    color: #00a5d4;
    transition: 0.3s
  }
  .nav-right {
    display: flex;
    width: 215px;
    margin-top: 16px;
    justify-content: center;
    position: absolute
  }
  .menu-button {
    display: none
  }
  .cursor {
    cursor: pointer
  }
  .packages-modal {
    display: none;
    position: fixed;
    z-index: 2343;
    margin: auto;
    left: 30%;
    top: 30%;
    max-width: 40%;
    overflow: auto;
    background-color: #fff;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.5)
  }
  .packages-modal p, .packages-modal h4 {
    padding-top: 20px
  }
  .packages-modal p {
    padding-bottom: 30px
  }
  .packages-modal h2 {
    padding-top: 15px
  }
  .packages-modal-content {
    padding-top: 10px;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    z-index: 234
  }
  .packages_close {
    float: right;
    font-size: 25px;
    cursor: pointer;
    padding: 0px 20px;
    z-index: 2344;
    margin: 0px -20px;
    transition: 0.1s
  }
  .packages_close:hover {
    background: rgba(200, 0, 0, 0.3);
    color: #fff;
    transition: 0.3s
  }
  .cruises-modal {
    display: none;
    position: fixed;
    z-index: 2343;
    left: 30%;
    right: 30%;
    top: 15%;
    max-width: 82%;
    background-color: #fff;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.5);
    overflow-x: hidden !important
  }
  .cruises-modal-content {
    padding-top: 10px;
    margin: auto;
    display: block;
    width: 90%;
    max-width: 700px;
    height: 700px;
    text-align: left;
    z-index: 234;
    overflow-y: scroll
  }
  .cruises-modal p, .cruises-modal h4 {
    padding-top: 20px
  }
  .cruises-modal p {
    padding-bottom: 30px
  }
  .cruises-modal h2 {
    padding-top: 15px
  }
  .cruises_close {
    float: right;
    font-size: 25px;
    cursor: pointer;
    padding: 0px 20px;
    z-index: 2344;
    margin: 0px 0px 0px -30px;
    transition: 0.1s
  }
  .cruises_close:hover {
    background: rgba(200, 0, 0, 0.3);
    color: #fff;
    transition: 0.3s
  }
  .tours-modal {
    display: none;
    position: fixed;
    z-index: 2343;
    left: 30%;
    right: 30%;
    top: 15%;
    max-width: 82%;
    background-color: #fff;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.5);
    overflow-x: hidden !important
  }
  .tours-modal-content {
    padding-top: 10px;
    margin: auto;
    display: block;
    width: 90%;
    max-width: 700px;
    height: 700px;
    text-align: left;
    z-index: 234;
    overflow-y: scroll
  }
  .tours-modal p, .tours-modal h4 {
    padding-top: 20px
  }
  .tours-modal p {
    padding-bottom: 30px
  }
  .tours-modal h2 {
    padding-top: 15px
  }
  .tours_close {
    float: right;
    font-size: 25px;
    cursor: pointer;
    padding: 0px 20px;
    z-index: 2344;
    margin: 0px 0px 0px -30px;
    transition: 0.1s
  }
  .tours_close:hover {
    background: rgba(200, 0, 0, 0.3);
    color: #fff;
    transition: 0.3s
  }
  .resorts-modal {
    display: none;
    position: fixed;
    z-index: 2343;
    left: 30%;
    right: 30%;
    top: 15%;
    max-width: 82%;
    background-color: #fff;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.5);
    overflow-x: hidden !important
  }
  .resorts-modal-content {
    padding-top: 10px;
    margin: auto;
    display: block;
    width: 90%;
    max-width: 700px;
    height: 700px;
    text-align: left;
    z-index: 234;
    overflow-y: scroll
  }
  .resorts-modal p, .resorts-modal h4 {
    padding-top: 20px
  }
  .resorts-modal p {
    padding-bottom: 30px
  }
  .resorts-modal h2 {
    padding-top: 15px
  }
  .resorts_close {
    float: right;
    font-size: 25px;
    cursor: pointer;
    padding: 0px 20px;
    z-index: 2344;
    margin: 0px 0px 0px -30px;
    transition: 0.1s
  }
  .resorts_close:hover {
    background: rgba(200, 0, 0, 0.3);
    color: #fff;
    transition: 0.3s
  }
  .slideshow {
    width: 100%;
    position: relative;
    width: 50%;
    margin: 50px 0px
  }
  .mySlides {
    overflow: hidden;
    width: 100%;
    height: 200px;
    overflow: auto;
    transition: 0.3s;
    height: auto
  }
  .prev, .next {
    top: 31%;
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px color:#fff;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0px 10px 10px 0px
  }
  .next {
    right: 0;
    border-radius: 10px 0px 0px 10px
  }
  .numbertext {
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    padding: 8px 12px;
    position: absolute;
    top: 0
  }
  .row:after {
    content: "";
    display: table;
    clear: both
  }
  .column {
    width: 9.07%;
    float: left;
    width: 7.14%;
    text-align: center
  }
  .demo {
    opacity: 0.6;
    transition: 0.3s;
    height: 50px
  }
  .active, .demo:hover {
    opacity: 1;
    transition: 0.3s
  }
  .fade {
    animation-name: fade;
    animation-duration: 0.3s
  }
  modal h2 {
    padding: 0px 10px;
    font-family: "Lato";
    font-weight: 300;
    text-align: center
  }
  td, th {
    padding: 20px 0px;
    border-bottom: 1px dashed grey
  }
  @keyframes fade {
    from {
      opacity: 0
    }
    to {
      opacity: 100
    }
  }
  @keyframes zoom {
    from {
      transform: scale(0.7)
    }
    to {
      transform: scale(1)
    }
  }
  .indexmain {
    margin-top: 75px;
    height: 100% !important;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("/_images/tropicalbg.jpg") no-repeat fixed center;
    background-size: cover;
    width: 100%;
    top: 0;
    left: 0;
  }
  .slogan {
    position: static;
    font: 50px "Lato";
    font-weight: 500 !important;
    text-align: center;
    padding: 21.5%;
    color: #fff;
    text-shadow: 3px 5px 4px #333
  }
  .slogan-light {
    font-family: "Lato";
    font-weight: 300;
  }
  .cards {
    display: flex;
    justify-content: center;
    background: #fff;
    height: 300px;
    z-index: 1098;
    flex-wrap: wrap !important;
  }
  .card {
    width: 250px;
    background: #fff;
    height: 500px;
    margin: -100px 30px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    z-index: 2342
  }
  .card-title {
    text-align: center;
    padding: 32px 0px
  }
  .cards p {
    padding: 10px 20px;
    text-align: center;
    font-size: 1.1em
  }
  .readmore {
    background-color: #00a5d4;
    width: 150px;
    padding: 10px 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    transition: 0.3s
  }
  main h3 {
    font: 400 0.9em "Lato"
  }
  .readmore:hover {
    background: #0092bb;
    transition: 0.3s
  }
  .cards a:hover {
    color: #000 !important
  }
  main img {
    width: 250px;
    height: 187px
  }
  .contactmain {
    display: flex;
    justify-content: center;
    margin-top: 50px
  }
  .aboutmain {
    display: flex;
    justify-content: center;
    margin-top: 50px
  }
  .about {
    width: 80%;
    background: #313131;
    display: flex;
    justify-content: center !important;
    margin: 50px
  }
  .about img {
    width: 333px
  }
  .aboutmain {
    display: flex;
    justify-content: center;
    margin-top: 50px
  }
  .about {
    width: 80%;
    background: #313131;
    display: flex;
    justify-content: center !important;
    margin: 50px
  }
  .about img {
    width: 333px
  }
  .title-left {
    padding: 40px 5px 40px 0px;
    text-align: right;
    color: #fff;
    width: 50%
  }
  .title-right {
    padding: 40px 0px 40px 5px;
    width: 50%;
    text-align: left;
    background: #fff
  }
  .title-left p {
    line-height: 25px;
    padding-left: 10%;
    padding-top: 20px
  }
  .title_bold {
    color: #000;
    font-family: "Lato";
    font-weight: 400
  }
  #map {
    max-width: 600px;
    padding-top: 22px
  }
  .form {
    padding-right: 20px;
    text-align: center;
    margin-top: 20px
  }
  input {
    width: 220px;
    height: 25px;
    margin: 50px 25px 20px;
    text-align: center;
    border: #fff 2px solid
  }
  .textarea {
    width: 500px;
    height: 60px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
    border: #fff 2px solid
  }
  .textarea:focus {
    border: #00a5d4 2px solid;
    box-shadow: 2px 2px 5px #000
  }
  input:focus {
    border: #00a5d4 2px solid;
    box-shadow: 2px 2px 5px #000
  }
  .submit {
    background: #00a5d4;
    font: 300 20px "Lato";
    box-shadow: 2px 2px 5px #000;
    border: 0;
    width: 130px;
    height: 50px;
    margin-top: 55px;
    text-align: center
  }
  .submit:active {
    box-shadow: none;
    background: #0092bb
  }
  .table {
    text-align: center;
    margin: 50px;
    background: #313131;
    padding: 30px;
    color: #fff
  }
  th {
    font: 300 padding:0px 20px 20px "Lato" !important;
    padding-top: 40px;
    border: none
  }
  tr {
    border: none
  }
  td {
    padding: 10px 0px 30px;
    border: none
  }
  th a {
    color: #fff !important;
    border: none
  }
  th a:hover {
    color: #00a5d4 !important;
    transition: 0.3s
  }
  .resourcesh2 {
    font: 400 35px "Lato"
  }
  .slideshow img {
    height: auto
  }
  .title {
    margin-top: 100px;
    color: #000;
    text-align: center
  }
  footer {
    height: 400px;
    background: #313131;
    display: flex;
    justify-content: center
  }
  .logo {
    width: 33%;
    text-align: center
  }
  .logo img {
    width: 200px;
    height: 200px;
    padding-top: 155px
  }
  .footer-title_bold {
    font-family: "Lato";
    font-weight: 800;
    color: #fff;
    transition: 0.3s
  }
  .name {
    padding-top: 200px;
    color: #fff;
    width: 33%;
    text-align: right;
    margin-right: 5%
  }
  .contact {
    text-transform: uppercase;
    color: #fff !important;
    width: 33%;
    padding-top: 175px;
    text-align: center;
    margin-left: 5%;
    line-height: 25px
  }
  .contact a {
    color: #fff;
    transition: 0.3s
  }
  .contact a:hover {
    color: #00a5d4;
    transition: 0.3s
  }
  .credit {
    font-size: 10px;
  }
  .credit a {
    color: white;
  }
  .credit a:hover {
    color: #09d9ff;
    transition: 0.3s;
  }
  .credit a:hover .com {
    color: #FF095A !important;
    transition: 0.3s;
  }
  .com {
    color: white;
    transition: 0.3s;
  }
}

@media screen and (max-width:1477px) {
  .textarea {
    width: 220px !important
  }
  .map {
    width: 400px !important;
    height: 600px
  }
}

@media screen and (max-width:1254px) {
  .cards {
    height: 1000px;
  }
  .card {
    margin-bottom: 300px;
  }
}
