/* WORK PAGE EDIT */
.completed {
  height: 140vh;
}
.PROGRESS {
  height: 40vh;
}

html, body, main, nav, h1, h2, h3, h4, h5, h6, p, a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: product-sans;
  src: url(fonts/product-sans.ttf);
}

/* ---------------- SMOOTHSTATE ---------------- */

.m-scene .scene-element {
  animation-duration: 0.4s;
  transition-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.m-scene .scene-element--slideUp {
  animation-name: slideUp;
}

.m-scene .scene-element--name {
  animation-name: name;
}

.m-scene .scene-element--email {
  animation-name: email;
}

.m-scene .scene-element--message {
  animation-name: message;
}

.m-scene .scene-element--submit {
  animation-name: submit;
}

.m-scene .scene-element--map {
  animation-name: map;
}

.m-scene .scene-element--fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.6s;
}

.m-scene .scene-element--letterspace {
  animation-name: letterspace;
}

.m-scene .scene-element--fadeOut {
  animation-name: fadeOut;
}

.m-scene.is-exiting .scene-element {
  animation-direction: alternate-reverse;
}

@media screen and (min-width: 600px) {
  /* ---------------- GLOBAL ---------------- */
  html, body, main, .form, .m-scene, .scene-element, .scene-element--slideUp {
    height: 100%
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box
  }
  body, h1, h2, h3, h4, h5, h6, a, ul, li {
    font-family: 'product-sans', serif;
    font-weight: 300;
    margin: 0;
    padding: 0
  }
  p {
    font-family: sans-serif;
    font-weight: 300;
    color: #fff;
    margin: 0;
    padding: 0
  }
  a {
    text-decoration: underline;
    color: #fff;
    font-weight: 300;
    transition: 0.3s
  }
  a:hover {
    color: #09d9ff;
    transition: 0.3s
  }
  body {
    background-color: #141414;;
  }
  /* ---------------- NAV ---------------- */
  nav a {
    color: #414141;
    transition: 0.3s;
    text-decoration: none;
  }
  nav a:hover {
    color: #232323;
    transition: 0.3s
  }
  nav ul {
    list-style: none;
    text-align: center;
    bottom: 20px
  }
  .nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    width: 60px;
    background: #0f0f0f;
    color: #fff;
    z-index: 3;
    height: 100%;
  }
  .icon-div {
    height: 40%;
    margin: 0;
  }
  .logo-name {
    padding: 10px 0;
    background-color: #070707;
    z-index: 4
  }
  nav h4 {
    padding-top: 3px;
    font-size: 11px
  }
  .icons ul li {
    height: 60px;
    width: 100%;
    padding: 0px 0px 0px;
    padding-top: 20px;
  }
  .icons ul li p {
    height: 40px !important;
  }
  .icons {
    height: 100%;
    color: #414141;
    width: 100%;
  }
  .icons ul {
    width: 100%;
    height: 100%;
  }
  .social {
    position: absolute;
    bottom: 0;
    padding: 22px;
    color: #414141;
    text-align: center
  }
  .social ul li {
    padding: 10px 0px;
    margin: auto;
  }
  .social ul li a:hover {
    padding: 10px 0px;
    color: #09d9ff;
  }
  .desc {
    font-family: "product-sans";
    font-weight: 400;
    letter-spacing: 1px;
    transition: 0s;
    color: #09d9ff;
    visibility: visible;
    z-index: 9999;
    margin-top: -17px;
    font-size: 9px;
    opacity: 0;
    transition: opacity .3s, visibility .3s;
  }
  .icons ul li a:hover .desc {
    visibility: visible;
    transition: 0s;
    opacity: 1;
    transition: opacity .5s, visibility .5s;
  }
  /* ---------------- INDEX ---------------- */
  .letter.letter-animate {
    display: inline-block;
    animation: scale 0.8s;
  }
  .letter-animte:hover {
    color: #09d9ff;
    animation: scale 0.8s;
    animation-play-state: running;
    animation-fill-mode: both;
    overflow: hidden;
  }
  .text {
    animation: 0.8s ease-in-out 0s slideUp;
    cursor: default;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    color: white;
    font-size: 28px;
    letter-spacing: -3px;
    line-height: 53px;
    top: 30%;
    left: 100px;
  }
  .text-child {
    font-family: 'Nothing You Could Do';
    font-size: 20px;
    letter-spacing: 2px;
    color: #414141;
    z-index: 1;
  }
  .contact-btn {
    background: #141414;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border: 1px solid #FF095A;
    border-radius: 4px;
    width: 140px;
    color: #09d9ff !important;
    font-size: 10px !important;
    letter-spacing: 5px;
    transition: 0.3s;
    text-align: center;
  }
  .contact-btn:hover {
    background: #09d9ff;
    border: 1px solid #09d9ff;
    color: #FF095A !important;
    transition: 0.3s;
  }
  .text a {
    text-decoration: none;
    color: #414141;
    transition: 0.3s;
    font-family: "Nothing You Could Do"
  }
  .text a:hover {
    color: #09d9ff;
  }
  .logo {
    left: 50%;
    top: 15%;
    position: absolute;
    width: 600px;
    transform: rotate(340deg);
    z-index: -10;
  }
  .logo-letter {
    width: 46px;
    margin-bottom: -2px;
    margin-right: -5px;
  }
  .logo-letter-sm {
    width: 46px;
    margin-bottom: -2px;
    margin-right: -5px;
  }
  #bm {
    background-color: #141414;
    display: block;
    position: fixed;
    float: right;
    overflow: visible;
    opacity: 1;
    left: 0;
    transform: scale(1.5);
    bottom: 0px;
    right: -100px;
    top: 0px;
    z-index: -10;
  }
  /* ---------------- CONTACT ---------------- */
  .map {
    animation: 1.8s ease-in-out 0s map
  }
  #map {
    height: 120%;
    position: relative;
    width: 45%;
    float: left;
    left: 0px;
    bottom: 10%
  }
  textarea {
    background: #1d1d1d;
    font-family: "product-sans";
    border: 0;
    color: #FFF;
    padding: 10px;
    width: 324px;
    height: 120px;
    margin: 0px 0 20px
  }
  .form {
    text-align: center;
    width: 50%;
    float: right;
    height: 100%;
    margin-top: 20%
  }
  .form h1 {
    font-size: 45px;
    color: #ff095a;
    padding: 70px 0;
    text-align: center;
    animation: 0.8s ease-in-out 0s text
  }
  .name {
    animation: 1.8s ease-in-out 0s email;
    background: #1d1d1d;
    font: 800 15px "product-sans";
    border: 0;
    color: #FFF;
    width: 150px;
    padding: 10px
  }
  .email {
    animation: 1.8s ease-in-out 0s name;
    background: #1d1d1d;
    font: 800 15px "product-sans";
    border: 0;
    color: #FFF;
    width: 150px;
    padding: 10px
  }
  .textarea-div {
    animation: 2s ease-in-out 0s message;
    display: inline-block;
    text-align: center;
    width: 324px;
    height: 120px;
    position: relative
  }
  .form p {
    text-align: center;
    width: 330px;
    letter-spacing: -0.4px;
    font: 16px sans-serif;
    padding-bottom: 10px;
    margin: auto;
    animation: 1.3s ease-in-out 0s text;
    font-family: "product-sans";
    line-height: 1.7em;
  }
  .submit {
    background: none;
    border: 1px solid #09d9ff;
    border-radius: 5px;
    color: #09d9ff;
    letter-spacing: 2px;
    padding: 5px 10px;
    transition: 0.3s;
    animation: 2.3s ease-in-out 0s submit
  }
  .submit:hover {
    background: #09d9ff;
    color: #333;
    transition: 0.3s;
    cursor: pointer
  }
  ::placeholder {
    color: #09d9ff;
    font-family: "Nothing You Could Do"
  }
  /* fancy input borders */
  .draw~.focus-border:before, .draw~.focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FF095A;
    transition: 0.3s
  }
  .draw~.focus-border:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0
  }
  .draw~.focus-border i:before, .draw~.focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #FF095A;
    transition: 0.4s
  }
  .draw~.focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0
  }
  .draw:focus~.focus-border:before, .draw:focus~.focus-border:after {
    width: 100%;
    transition: 0.3s
  }
  .draw:focus~.focus-border i:before, .draw:focus~.focus-border i:after {
    height: 100%;
    transition: 0.4s
  }
  :focus {
    outline: 0
  }
  input[type="text"] {
    box-sizing: border-box
  }
  .name-email-div {
    display: inline-block;
    text-align: center;
    width: 150px;
    margin: 10px;
    position: relative
  }
  /* ---------------- ABOUT ---------------- */
  .logo-letter {
    width: 45px;
    margin-bottom: -1px;
    margin-right: -5px;
  }
  main {
    margin-left: 0px;
  }
  .about-box {
    animation: 0.8s ease-in-out 0s slideUp;
    display: block;
    position: absolute;
    width: 40%;
    height: 100%;
    line-height: 20px;
    top: 10%;
    left: 80px;
    bottom: 10%;
    padding-right: 20px;
  }
  .title {
    font-size: 54px;
    color: white;
    text-align: left;
  }
  .blurb {
    letter-spacing: -0.4px;
    font-family: sans-serif;
    font-size: 16px;
    padding: 50px 0px 10px 0px;
  }
  .content-box {
    width: 50%;
    height: 100%;
    float: right;
    padding-top: 50px;
    text-align: center;
    animation: 0.8s ease-in-out 0s slideUp;
  }
  .iframe {
    position: relative;
    width: 90%;
    height: 50%;
  }
  .instagram-title {
    display: none;
  }
  /* ---------------- WORK ---------------- */
  .workmain {
    z-index: -1231231231231;
    background: #141414;
    height: 100%;
    margin-left: 60px !important;
    width: calc(100%-60px);
  }
  .completed, .PROGRESS {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  /* ---------- */
  .seperator {
    height: 20px;
    background: linear-gradient(rgba(9, 217, 255, 0.8), #ff095a);
    position: relative;
    animation: 1.3s ease-in-out 0s slideRight !important;
  }
  .boxes a {
    cursor: pointer !important;
    transition: 0.3s;
  }
  .boxes a:hover {
    background: rgba(255, 255, 255, 0.05);
    transition: 0.3s;
  }
  .completediv {
    text-align: center;
    background: #09d9ff;
    background-color: rgba(9, 217, 255, 0.8);
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px 50px;
    animation: 1s ease-in-out 0s slideRight;
  }
  .wipdiv {
    text-align: center;
    background: #ff095a !important;
    height: 100%;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px 50px;
    animation: 1.1s ease-in-out 0s slideRightDelay;
  }
  .completediv h1, .wipdiv h1 {
    font-family: "product-sans";
    font-weight: 800;
    text-align: center;
    font-size: 1.8em;
    letter-spacing: 0px;
    color: white;
    width: 20px;
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
    text-shadow: 3.5px 0px #FF095A;
    animation: 0.6s ease-in-out 0s letterspace;
  }
  .inworktitle {
    font-family: "product-sans";
    font-weight: 800;
    letter-spacing: 2px;
    color: white !important;
    margin: 0px;
    padding: 0px;
    text-shadow: 3.5px 0px #09d9ff !important;
    animation: 0.6s ease-in-out 0s letterspace;
  }
  .boxes {
    margin-left: 0px;
    width: calc(100% - 60px);
    display: flex;
    height: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
    animation: 1s ease-in-out 0s slideDown;
  }
  .box {
    position: relative;
    margin: 0px;
    display: inline-block;
    width: 100%;
    height: 20vh;
    background: #141414;
    transition: 0.3s;
    z-index: -2000;
    text-align: center;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.3s;
    overflow: hidden;
    position: absolute;
  }
  .scale {
    transform: scale(1.1);
  }
  .nameplate {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    letter-spacing: 2px;
    font-family: "product-sans";
    font-weight: 100;
    z-index: 2000;
    flex-direction: column;
  }
  .nameplate h1 {
    font-size: 1.8em;
  }
  .nameplate p {
    font-size: 0.7em;
  }
  .coming {
    width: 100%;
    height: 40vh;
    line-height: 3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    color: white;
    background: linear-gradient(#ff095a, #09d9ff);
    animation: 1.1s ease-in-out 0s slideUpDelay;
  }
  .coming h3 {
    font-weight: 100;
  }
  .coming a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s;
  }
  .coming a:hover {
    transition: 0.3s;
    color: #09d9ff;
    text-decoration: none;
  }
  /* .boxes:hover .box img:nth-child(1) {
    transform: scale(1.1);
    transition: 0.3s;
  } */
  .work-btn {
    border: 2px solid #ff095a;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .work-btn:hover {
    border: 2px solid #141414;
    background: #f15789;
    transition: 0.3s;
  }
  .desktop-hide {
    display: none;
  }

  /* FLYERS */

  .flyer, .flyerbox, .flyermain {
    height: 100%;
  }

  .flyermain {
    display: flex;
    overflow-x: scroll !important;
    overflow-y: scroll !important;
    width: auto;
  }

  .flyerbox {
    display: flex;
  }
  .flyer {
    width: auto;
    height: 100%;
  }
  .flyerpopup {
    z-index: 9999;
  }
  .flyerpopup h3 {
    color: white;
  }
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 599px) {
  /* ---------------- GLOBAL ---------------- */
  body, h1, h2, h3, h4, h5, h6, p, a, ul, li {
    font-family: "product-sans";
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }
  a {
    text-decoration: none;
  }
  p {
    font-family: sans-serif;
    font-weight: 300;
    color: white;
    margin: 0px;
    padding: 0px;
  }
  /* ---------------- NAV ---------------- */
  nav {
    z-index: 999999999999
  }
  .menu {
    margin-top: 20px;
    margin-left: 5px;
    width: 23px;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
    position: relative;
    transform: scale(0.8);
    background: none;
    border-radius: 5px;

  }
  .menu .bit-1::before {
    content: '';
    left: 0.5em;
    top: 0.5em;
    position: absolute;
    width: 1em;
    transform-origin: left bottom;
    height: 0.3em;
    background: #09d9ff;
    transition: transform 0.3s, top 0.3s;
    border-radius: 5px 0 0 5px;
  }
  .menu .bit-1::after {
    content: '';
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 1em;
    transform-origin: right bottom;
    height: 0.3em;
    background: #09d9ff;
    transition: transform 0.3s, top 0.3s;
    border-radius: 0px 10px 10px 0px;
  }
  .menu .bit-2 {
    position: absolute;
    width: 2em;
    top: 50%;
    left: 50%;
    height: 0.3em;
    background: #09d9ff;
    transform: translate(-50%, -50%);
    transition: transform 0.3s 0.3s, width 0.3s 0.6s;
    border-radius: 5px;

  }
  .menu .bit-3::before {
    content: '';
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    width: 1em;
    transform-origin: left top;
    height: 0.3em;
    background: #09d9ff;
    transition: transform 0.3s, bottom 0.3s;
    border-radius: 10px 0px 0px 10px;

  }
  .menu .bit-3::after {
    content: '';
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    width: 1em;
    transform-origin: right top;
    height: 0.3em;
    background: #09d9ff;
    transition: transform 0.3s, bottom 0.3s;
    border-radius: 0px 10px 10px 0px;

  }
  .menu.open .bit-1:before {
    top: 0.4em;
    width: 1.2em;
    transform: rotate(45deg);
    transform-origin: left bottom;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
    background: #FF095A;
  }
  .menu.open .bit-1:after {
    top: 0.4em;
    width: 1.2em;
    transform: rotate(-45deg);
    transform-origin: right bottom;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
    background: #FF095A;
  }
  .menu.open .bit-2 {
    width: 0.3em;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: transform 0.3s 0.3s, width 0.3s;
    background: #FF095A;
  }
  .menu.open .bit-3:before {
    bottom: 0.4em;
    width: 1.2em;
    transform: rotate(-45deg);
    transform-origin: left top;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
    background: #FF095A;
  }
  .menu.open .bit-3:after {
    bottom: 0.4em;
    width: 1.2em;
    transform: rotate(45deg);
    transform-origin: right top;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
    background: #FF095A;
  }
  .top-nav {
    position: fixed;
    height: 75px;
    align-items: center;
    width: 100%;
    display: flex;
    background: none;
    z-index: 1001101010;
  }
  .nav-logo-div {
    width: calc(100% - 75px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
  }
  .nav-logo {
    height: 60px;
    padding: 20px 0 0 20px;
  }
  .nav-toggle-div {
    width: 50px;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    padding-right: 25px;
  }
  .nav-toggle {
    width: 45px;
    background: white;
  }
  .nav-expand {
    background: #272727;
    display: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
  }
  .nav-expand-text {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 80px;
  }
  .bug-nav {
    margin-top: -60px;
    z-index: 12312312122312;
  }
  .bug-nav2 {
    padding-bottom: 50px;
    z-index: 123123123123
  }
  body {
    background-color: #212121;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: -10;
  }
  .mobile-hide {
    display: none;
  }
  nav h4 {
    padding-top: 3px;
    font-size: 11px;
  }
  nav a, nav h1 {
    width: 100%;
    font-size: 50px;
    margin: 7px 0;
    color: white;
    font-weight: 100;
  }
  /* ---------------- INDEX ---------------- */
  .text {
    animation: 1s ease-out 0s slideRight;
    display: flex;
    flex-direction: column;
    height: auto;
    position: absolute;
    color: white;
    font-size: 27px;
    letter-spacing: -1px;
    line-height: 70px;
    top: 60px;
    text-align: left;
    padding: 20px 20px 0 20px;
  }
  .text h1 {
    font-family: "product-sans";
    font-weight: 100;
  }
  .text-child {
    font-family: 'Nothing You Could Do';
    font-size: 17px;
    padding: 15px 0px;
    letter-spacing: 2px;
    line-height: 30px;
    color: #414141;
    z-index: 1;
  }
  .contact-btn {
    background: #212121;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 1px solid #FF095A;
    border-radius: 8px;
    width: 160px;
    color: #09d9ff !important;
    font-size: 10px !important;
    letter-spacing: 5px;
    transition: 0.3s;
    text-align: center;
    margin: auto;
    margin-top: 10px;
  }
  .contact-btn:hover {
    background: #09d9ff;
    border: 1px solid #09d9ff;
    color: #FF095A !important;
    transition: 0.3s;
  }
  .text a {
    text-decoration: none;
    color: #414141;
    transition: 0.3s;
    font-family: "Nothing You Could Do";
    font-weight: 800;
  }
  .text a:hover {
    color: #09d9ff;
  }
  .logo {
    left: 50%;
    top: 15%;
    position: absolute;
    width: 600px;
    transform: rotate(340deg);
    z-index: -10;
  }
  .logo-letter {
    width: 45px !important;
    height: auto;
    margin-bottom: -2px;
    margin-right: -5px;
  }
  #bm {
    width: 300%;
    height: 1000px;
    background-color: #141414;
    display: none;
    position: fixed !important;
    overflow: hidden !important;
    left: -500px;
    top: -250px;
    /*
    left: 0px;
    top: 150px;
    right: 200px;
    transform: scale(1);
    bottom: -350px;
    top: 150px; */
    z-index: -10;
    opacity: 0.4;
  }
  /* ---------------- ABOUT ---------------- */
  h1 {
    padding: 10px 0px;
  }
  .logo-letter-sm {
    width: 53px;
    margin-bottom: -1px;
    margin-right: -5px;
  }
  main a {
    color: white;
    text-decoration: underline;
    font-weight: 300;
  }
  .about-box {
    animation: 0.8s ease-in-out 0s slideUp;
    margin-left: 10%;
    display: inline-block;
    width: 80%;
    height: auto;
    margin-top: 20%;
    line-height: 20px;
    top: 10%;
  }
  .about-box p {
    height: 100%;
  }
  .title {
    font-size: 70px;
    color: white;
    line-height: 0.5em;
    text-align: left;
  }
  .blurb {
    letter-spacing: -0.4px;
    font-family: sans-serif;
    font-size: 13px;
    padding: 20px 0px 10px 0px;
  }
  .content-box {
    animation: 0.8s ease-in-out 0s slideUp;
    text-align: center;
    margin: auto;
    width: 80%;
    margin: 0 10%;
    height: 100%;
  }
  .instagram-title {
    font-size: 30px;
    font-family: "product-sans";
    color: #FF095A;
    text-shadow: 3px 0px 0px #09d9ff;
    padding-bottom: 40px;
  }
  /* ---------------- CONTACT ---------------- */
  #map {
    animation: 0.8s ease-in-out 0s slideUp;
    margin-top: 20px;
    display: block;
    height: 400px;
    width: 100%;
  }
  .form {
    margin: auto;
    margin-left: 2px;
    margin-bottom: 25%;
    text-align: center;
    padding-top: 100px;
    width: 100%;
    height: auto;
  }
  .title {
    animation: 0.8s ease-in-out 0s slideUp;
    margin: 0px;
    text-align: center;
    padding: 50px 0 !important;
    color: #FF095A;
    font-size: 3em;
  }
  .form h1 {
    padding: 70px 0;
  }
  .name {
    animation: 0.8s ease-in-out 0s name;
    background: #333;
    font-family: "Nothing You Could Do";
    font-weight: 800;
    font-size: 15px;
    border: 0;
    color: white;
    width: 120px;
    padding: 10px;
  }
  .email {
    animation: 0.8s ease-in-out 0s email;
    background: #333;
    font-family: "Nothing You Could Do";
    font-weight: 800;
    font-size: 15px;
    border: 0;
    color: white;
    width: 100px;
    padding: 10px;
  }
  .name-email-div {
    display: inline-block;
    text-align: center;
    width: 120px;
    margin: 10px 3px;
    position: relative;
  }
  textarea {
    color: white;
    background: #333;
    font-family: "Nothing You Could Do";
    border: 0;
    padding: 10px;
    width: 230px;
    height: 100px;
    margin: 0px 0 20px 0;
  }
  ::placeholder {
    color: #09D9FF;
  }
  .textarea-div {
    animation: 0.8s ease-in-out 0s message;
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 120px;
    position: relative;
  }
  .form p {
    animation: 1.1s ease-in-out 0s slideUp;
    text-align: center;
    width: 250px;
    letter-spacing: -0.4px;
    font-family: sans-serif;
    font-size: 13px;
    padding-bottom: 10px;
    margin: auto;
    line-height: 2em;
    font-family: "product-sans"
  }
  .submit {
    animation: 0.8s ease-in-out 0s submit;
    background: none;
    border: 1px solid #09d9ff;
    border-radius: 5px;
    color: #09d9ff;
    letter-spacing: 2px;
    padding: 5px 10px;
    transition: 0.3s;
  }
  .submit:hover {
    background: #09d9ff;
    color: #333;
    transition: 0.3s;
    cursor: pointer;
  }
  .draw~.focus-border:before, .draw~.focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FF095A;
    transition: 0.3s;
  }
  .draw~.focus-border:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
  }
  .draw~.focus-border i:before, .draw~.focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #FF095A;
    transition: 0.4s;
  }
  .draw~.focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
  }
  .draw:focus~.focus-border:before, .draw:focus~.focus-border:after {
    width: 100%;
    transition: 0.3s;
  }
  .draw:focus~.focus-border i:before, .draw:focus~.focus-border i:after {
    height: 100%;
    transition: 0.4s;
  }
  :focus {
    outline: none;
  }
  input[type="text"] {
    box-sizing: border-box;
  }
  /* ---------- WORK ---------- */
  .workmain {
    z-index: 0;
    background: #212121;
    overflow: scroll;
    padding-top: 100px;
    height: 100%;
  }
  .completed, .PROGRESS {
    width: 100%;
    display: flex;
    align-items: center;
  }

  /* ---------- */
  .seperator {
    height: 20px;
    background: linear-gradient(rgba(9, 217, 255, 1), #ff095a);
    position: relative;
    animation: 1.2s ease-in-out 0s slideRight !important;
  }
  .boxes a {
    cursor: pointer !important;
    transition: 0.3s;
  }
  .boxes a:hover {
    background: rgba(255, 255, 255, 0.05);
    transition: 0.3s;
  }
  .completediv {
    text-align: center;
    background: #09d9ff;
    background-color: rgba(9, 217, 255, 1);
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px 10px;
    animation: 1s ease-in-out 0s slideRight;
  }
  .wipdiv {
    text-align: center;
    background: #ff095a !important;
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px 10px;
    animation: 1.1s ease-in-out 0s slideRightDelay;
  }
  .completediv h1, .wipdiv h1 {
    font-family: "product-sans";
    font-weight: 800;
    text-align: center;
    font-size: 1.8em;
    letter-spacing: 0px;
    color: white;
    width: 38px;
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
    text-shadow: 3.5px 0px #FF095A;
    animation: 0.6s ease-in-out 0s letterspace;
  }
  .inworktitle {
    font-family: "product-sans";
    font-weight: 800;
    letter-spacing: 2px;
    color: white !important;
    margin: 0px;
    padding: 10px;
    width: 10px;
    text-shadow: 3.5px 0px #09d9ff !important;
    animation: 0.6s ease-in-out 0s letterspace;
  }
  .boxes {
    margin-left: 0px;
    width: calc(100%);
    display: flex;
    height: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
    animation: 1s ease-in-out 0s slideDown;
  }
  .box {
    position: relative;
    margin: 0px;
    display: inline-block;
    width: 100%;
    height: 20vh;
    background: #141414;
    transition: 0.3s;
    z-index: -2000;
    text-align: center;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.3s;
    overflow: hidden;
    position: absolute;
  }
  .scale {
    transform: scale(1.1);
  }
  .nameplate {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    letter-spacing: 2px;
    font-family: "product-sans";
    font-weight: 100;
    z-index: 2000;
    flex-direction: column;
  }
  .nameplate h1 {
    font-size: 1.8em;
  }
  .nameplate p {
    font-size: 0.7em;
  }
  .coming {
    width: calc(100%);
    height: 20vh;
    line-height: 3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background: linear-gradient(#ff095a, #09d9ff);
    animation: 1.1s ease-in-out 0s slideUpDelay;
  }
  .coming h3 {
    font-weight: 100;
    font-size: 1em;
  }
  .coming h1 {
    font-size: 1.2em;
  }
  .coming a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s;
    margin-bottom: 10px;
  }
  .coming a:hover {
    transition: 0.3s;
    color: #09d9ff;
    text-decoration: none;
  }
  .work-btn {
    border: 2px solid #ff095a;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
  }
  /* .boxes:hover .box img:nth-child(1) {
    transform: scale(1.1);
    transition: 0.3s;
  } */
  /* FLYERS */

  .flyer, .flyerbox, .flyermain {
    height: 100%;
  }

  .flyersmain {
    height: 50%;
  }

  .flyermain {
    display: flex;
    overflow-x: scroll !important;
    overflow-y: scroll !important;
    width: auto;
  }

  .flyerbox {
    display: flex;
  }
  .flyer {
    width: auto;
    height: 100%;
  }
  .flyerpopup {
    z-index: 9999;
  }
  .flyerpopup h3 {
    color: white;
  }
}
