@font-face {
  font-family: "marigold";
  src: url(fonts/Marigold.ttf);
}

@font-face {
  font-family: "worksans-light";
  src: url(fonts/WorkSans-Thin.ttf);
}

@font-face {
  font-family: "worksans";
  src: url(fonts/WorkSans-Regular.ttf);
}

@font-face {
  font-family: "worksans-bold";
  src: url(fonts/WorkSans-Medium.ttf);
}

@font-face {
  font-family: "mermaid";
  src: url(fonts/Mermaid1001.ttf);
}
@media screen and (min-width: 1201px){
  .stop-scrolling {
    height: 100%;
    overflow-y: hidden !important;
  }

  body::-webkit-scrollbar {
    width: 0 !important
  }

  main {
    padding-top: calc(5% + 110px);
    background: #F8F8F8;
  }

  html, body {
    margin: 0px;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  nav {
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    padding: 2.5%;
    position: fixed;
    background: #F8F8F8;
    transition: 0.2s;
  }

  .heading {
    width: 60%;
    text-align: center;
    font-family: "marigold";
    font-size: 1.5em;
  }

  @keyframes overlay-links {
    0% {
      transform: translateX(-100%);
      filter: blur(3px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes overlay-profile {
    0% {
      transform: translateX(-200%);
      filter: blur(3px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes overlay {
    0% {
      background: rgba(255, 255, 255, 0);
    }

    100% {}
  }

  @keyframes overlay-right {
    0% {
      background: rgba(255, 255, 255, 0);
      filter: blur(90px);
    }

    100% {
      filter: blur(90px);
    }
  }

  .show .overlay-right {
    width: 60%;
    height: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.6);
    justify-content: center;
    animation: overlay-right 0.5s;
    animation-fill-mode: forwards;
    z-index: 0;
  }

  .show .overlay1 {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: flex;
    animation: overlay 0.5s;
  }

  .show .overlay-links {
    width: 20%;
    height: 100%;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    animation: overlay-links 0.5s;
    z-index: 0;
  }

  .show .overlay-profile {
    width: 20%;
    height: 100%;
    background: #FFF;
    animation: overlay-profile 0.5s;
  }

  .overlay-text {
    font-family: "mermaid";
    font-size: 1.5em;
    text-align: center;
    margin-top: 18vh;
    line-height: 3em;
  }

  @keyframes overlay-hide {
    0% {
      display: none;
      transform: translateX(0);
      filter: blur(0px);
      opacity: 1;
    }

    30% {
      filter: blur(30px);
      opacity: 0;
    }

    100% {
      display: flex;
      transform: translateX(-200%);
      background: rgba(255, 255, 255, 0.6);
      filter: blur(30px);
      opacity: 0;
    }
  }

  .overlay1 {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    animation: overlay-hide 1.5s;
    animation-fill-mode: forwards;
  }

  .overlay-profile {
    width: 20%;
    height: 100%;
    background: #FFF;
    display: flex;
    justify-content: center;
  }

  .overlay-profile-flex {
    margin-top: 15vh;
    width: 75%;
    text-align: center;
  }

  .overlay-profile-flex h1 {
    width: 100%;
    text-align: center;
    font-family: "marigold";
    font-size: 1.5em;
    margin: 3vh 0;
  }

  .overlay-profile-flex p {
    width: 80%;
    text-align: center;
    margin: auto;
    font-family: "worksans";
    font-size: 1em;
    line-height: 1.3em;
    color: #888;
  }

  .overlay-profile-img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    overflow: hidden !important;
    margin: auto;
    background: url(images/prof.png);
    background-position: center;
    background-size: cover;
  }

  .overlay-links {
    width: 20%;
    height: 100%;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    z-index: 3;
  }

  .overlay-text a {
    color: black;
    text-decoration: none;
  }

  .overlay-social-links {
    width: 100%;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
  }

  .social-links {
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }

  .social-bubble {
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 100%;
    transform: scale(0.6) rotate(345deg);
    margin: -4px;
  }

  .social-bubble img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  /* eye animation */
  @keyframes circle {
    0% {
      border-radius: 25px 25px 25px 25px;
    }

    100% {
      border-radius: 0px 25px 0 25px;
    }
  }

  @keyframes circle-close {
    100% {
      border-radius: 25px 25px 25px 25px;
    }

    0% {
      border-radius: 0px 25px 0 25px;
    }
  }

  @keyframes line {
    0% {
      height: 0px;
      background: #C8FFFB;
      border: 1.5px solid black;
      border-radius: 0%;
    }

    100% {
      height: 25px;
      background: #C8FFFB;
      border: 3px solid black;
      border-radius: 100%;
    }
  }

  @keyframes line-close {
    100% {
      height: 0px;
      background: black;
      border: 1.5px solid black;
      border-radius: 0%;
    }

    0% {
      height: 25px;
      background: white;
      border: 3px solid black;
      border-radius: 100%;
    }
  }

  .eye {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 20%;
    z-index: 10101010;
    transform: scale(0.6);
    justify-content: flex-start;
  }

  /* closed */
  .circle {
    border: black 3px solid;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: circle-close 0.3s;
    cursor: pointer;
  }

  .line {
    height: 0px;
    width: 25px;
    background: black;
    transform: rotate(45deg);
    border: 1.5px solid black;
    border-radius: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: line-close .2s;
  }

  .pupil {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: black;
    display: none;
  }

  /* open */
  .change .circle {
    background: white;
    border: black 3px solid;
    height: 50px;
    width: 50px;
    border-radius: 0 25px 0 25px;
    display: flex;
    justify-content: center;
    animation: circle 0.3s;
  }

  .change .line {
    height: 25px;
    width: 25px;
    background: #C8FFFB;
    border: 3px solid black;
    border-radius: 100%;
    animation: line 0.2s;
  }

  .change .pupil {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: black;
    display: block;
  }

  .card-main {
    width: 100%;
    padding: 0% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 5%;
  }

  .card {
    width: 300px;
    margin: 0 1%;
    text-decoration: none;
    color: black;
  }

  .card-img {
    width: 300px;
    height: 300px;
    background: ;
    border: 0px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .card i {
    color: #999;
  }

  .card-img img {
    width: 300px;
    height: auto;
  }

  .card-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card-header {
    color: #8F8F8F;
    font-size: 16px;
    font-family: "worksans", sans-serif;
    letter-spacing: 0.05em;
  }

  .card-title {
    font-size: 32px;
    margin: 0px;
    font-family: "mermaid"
  }

  .card-blurb {
    color: #8F8F8F;
    font-size: 18px;
    font-family: "worksans", sans-serif;
    width: 80%;
    text-align: center;
  }

  footer {
    height: 25vh;
    background: #F8F8F8;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-text {
    width: 100%;
  }

  footer h2 a {
    margin: 0 6%;
    font-size: 0.8em;
    color: black;
    text-decoration: none;
    font-family: "mermaid";
  }

  footer p {
    font-size: 0.8em;
    color: #555;
    font-family: "worksans";
  }

  footer a {
    color: #444;
    text-decoration: none;
    font-family: "worksans";
  }
}
@media screen and (min-width: 801px) and (max-width: 1200px){
  .stop-scrolling {
    height: 100%;
    overflow-y: hidden !important;
  }

  body::-webkit-scrollbar {
    width: 0 !important
  }

  main {
    padding-top: calc(5% + 110px);
    background: #F8F8F8;
  }

  html, body {
    margin: 0px;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  nav {
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    padding: 2.5%;
    position: fixed;
    background: #F8F8F8;
    transition: 0.2s;
  }

  .heading {
    width: 60%;
    text-align: center;
    font-family: "marigold";
    font-size: 1.5em;
  }

  @keyframes overlay-links {
    0% {
      transform: translateX(-100%);
      filter: blur(3px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes overlay-profile {
    0% {
      transform: translateX(-200%);
      filter: blur(3px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes overlay {
    0% {
      background: rgba(255, 255, 255, 0);
    }

    100% {}
  }

  @keyframes overlay-right {
    0% {
      background: rgba(255, 255, 255, 0);
      filter: blur(90px);
    }

    100% {
      filter: blur(90px);
    }
  }

  .show .overlay-right {
    width: 40%;
    height: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.6);
    justify-content: center;
    animation: overlay-right 0.5s;
    animation-fill-mode: forwards;
    z-index: 0;
  }

  .show .overlay1 {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: flex;
    animation: overlay 0.5s;
  }

  .show .overlay-links {
    width: 30%;
    height: 100%;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    animation: overlay-links 0.5s;
    z-index: 0;
  }

  .show .overlay-profile {
    width: 30%;
    height: 100%;
    background: #FFF;
    animation: overlay-profile 0.5s;
  }

  .overlay-text {
    font-family: "mermaid";
    font-size: 1.5em;
    text-align: center;
    margin-top: 18vh;
    line-height: 3em;
  }

  @keyframes overlay-hide {
    0% {
      display: none;
      transform: translateX(0);
      filter: blur(0px);
      opacity: 1;
    }

    30% {
      filter: blur(30px);
      opacity: 0;
    }

    100% {
      display: flex;
      transform: translateX(-200%);
      background: rgba(255, 255, 255, 0.6);
      filter: blur(30px);
      opacity: 0;
    }
  }

  .overlay1 {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    animation: overlay-hide 1.5s;
    animation-fill-mode: forwards;
  }

  .overlay-profile {
    width: 30%;
    height: 100%;
    background: #FFF;
    display: flex;
    justify-content: center;
  }

  .overlay-profile-flex {
    margin-top: 15vh;
    width: 75%;
    text-align: center;
  }

  .overlay-profile-flex h1 {
    width: 100%;
    text-align: center;
    font-family: "marigold";
    font-size: 1.5em;
    margin: 3vh 0;
  }

  .overlay-profile-flex p {
    width: 80%;
    text-align: center;
    margin: auto;
    font-family: "worksans";
    font-size: 1em;
    line-height: 1.3em;
    color: #888;
  }

  .overlay-profile-img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    overflow: hidden !important;
    margin: auto;
    background: url(images/prof.png);
    background-position: center;
    background-size: cover;
  }

  .overlay-links {
    width: 30%;
    height: 100%;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    z-index: 3;
  }

  .overlay-text a {
    color: black;
    text-decoration: none;
  }

  .overlay-social-links {
    width: 100%;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
  }

  .social-links {
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }

  .social-bubble {
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 100%;
    transform: scale(0.6) rotate(345deg);
    margin: -4px;
  }

  .social-bubble img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  /* eye animation */
  @keyframes circle {
    0% {
      border-radius: 25px 25px 25px 25px;
    }

    100% {
      border-radius: 0px 25px 0 25px;
    }
  }

  @keyframes circle-close {
    100% {
      border-radius: 25px 25px 25px 25px;
    }

    0% {
      border-radius: 0px 25px 0 25px;
    }
  }

  @keyframes line {
    0% {
      height: 0px;
      background: #C8FFFB;
      border: 1.5px solid black;
      border-radius: 0%;
    }

    100% {
      height: 25px;
      background: #C8FFFB;
      border: 3px solid black;
      border-radius: 100%;
    }
  }

  @keyframes line-close {
    100% {
      height: 0px;
      background: black;
      border: 1.5px solid black;
      border-radius: 0%;
    }

    0% {
      height: 25px;
      background: white;
      border: 3px solid black;
      border-radius: 100%;
    }
  }

  .eye {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 20%;
    z-index: 10101010;
    transform: scale(0.6);
    justify-content: flex-start;
  }

  /* closed */
  .circle {
    border: black 3px solid;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: circle-close 0.3s;
    cursor: pointer;
  }

  .line {
    height: 0px;
    width: 25px;
    background: black;
    transform: rotate(45deg);
    border: 1.5px solid black;
    border-radius: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: line-close .2s;
  }

  .pupil {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: black;
    display: none;
  }

  /* open */
  .change .circle {
    background: white;
    border: black 3px solid;
    height: 50px;
    width: 50px;
    border-radius: 0 25px 0 25px;
    display: flex;
    justify-content: center;
    animation: circle 0.3s;
  }

  .change .line {
    height: 25px;
    width: 25px;
    background: #C8FFFB;
    border: 3px solid black;
    border-radius: 100%;
    animation: line 0.2s;
  }

  .change .pupil {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: black;
    display: block;
  }

  .card-main {
    width: 100%;
    padding: 0% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 5%;
  }

  .card {
    width: 300px;
    margin: 0 1%;
    text-decoration: none;
    color: black;
  }

  .card-img {
    width: 300px;
    height: 300px;
    background: ;
    border: 0px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .card i {
    color: #999;
  }

  .card-img img {
    width: 300px;
    height: auto;
  }

  .card-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card-header {
    color: #8F8F8F;
    font-size: 16px;
    font-family: "worksans", sans-serif;
    letter-spacing: 0.05em;
  }

  .card-title {
    font-size: 32px;
    margin: 0px;
    font-family: "mermaid"
  }

  .card-blurb {
    color: #8F8F8F;
    font-size: 18px;
    font-family: "worksans", sans-serif;
    width: 80%;
    text-align: center;
  }

  footer {
    height: 25vh;
    background: #F8F8F8;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-text {
    width: 100%;
  }

  footer h2 a {
    margin: 0 6%;
    font-size: 0.8em;
    color: black;
    text-decoration: none;
    font-family: "mermaid";
  }

  footer p {
    font-size: 0.8em;
    color: #555;
    font-family: "worksans";
  }

  footer a {
    color: #444;
    text-decoration: none;
    font-family: "worksans";
  }
}
@media screen and (min-width: 400px) and (max-width: 800px) {
  .stop-scrolling {
    height: 100%;
    overflow-y: hidden !important;
  }

  body::-webkit-scrollbar {
    width: 0 !important
  }

  main {
    padding-top: calc(5% + 110px);
    background: #F8F8F8;
  }

  html, body {
    margin: 0px;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  nav {
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    padding: 2.5%;
    position: fixed;
    background: #F8F8F8;
    transition: 0.2s;
  }

  .heading {
    width: 60%;
    text-align: center;
    font-family: "marigold";
    font-size: 1.5em;
  }

  @keyframes overlay-links {
    0% {
      transform: translateX(-100%);
      filter: blur(3px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes overlay-profile {
    0% {
      transform: translateX(-200%);
      filter: blur(3px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes overlay {
    0% {
      background: rgba(255, 255, 255, 0);
    }

    100% {}
  }

  @keyframes overlay-right {
    0% {
      background: rgba(255, 255, 255, 0);
      filter: blur(90px);
    }

    100% {
      filter: blur(90px);
    }
  }

  .show .overlay-right {
    display: none;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    justify-content: center;
    animation: overlay-right 0.5s;
    animation-fill-mode: forwards;
    z-index: 0;
  }

  .show .overlay1 {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: flex;
    animation: overlay 0.5s;
  }

  .show .overlay-links {
    width: 40%;
    height: 100%;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    animation: overlay-links 0.5s;
    z-index: 0;
  }

  .show .overlay-profile {
    width: 60%;
    height: 100%;
    background: #FFF;
    animation: overlay-profile 0.5s;
  }

  .overlay-text {
    font-family: "mermaid";
    font-size: 1.5em;
    text-align: center;
    margin-top: 18vh;
    line-height: 3em;
  }

  @keyframes overlay-hide {
    0% {
      display: none;
      transform: translateX(0);
      filter: blur(0px);
      opacity: 1;
    }

    30% {
      filter: blur(30px);
      opacity: 0;
    }

    100% {
      display: flex;
      transform: translateX(-200%);
      background: rgba(255, 255, 255, 0.6);
      filter: blur(30px);
      opacity: 0;
    }
  }

  .overlay1 {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    animation: overlay-hide 1.5s;
    animation-fill-mode: forwards;
  }

  .overlay-profile {
    width: 60%;
    height: 100%;
    background: #FFF;
    display: flex;
    justify-content: center;
  }

  .overlay-profile-flex {
    margin-top: 15vh;
    width: 75%;
    text-align: center;
  }

  .overlay-profile-flex h1 {
    width: 100%;
    text-align: center;
    font-family: "marigold";
    font-size: 1.5em;
    margin: 3vh 0;
  }

  .overlay-profile-flex p {
    width: 80%;
    text-align: center;
    margin: auto;
    font-family: "worksans";
    font-size: 1em;
    line-height: 1.3em;
    color: #888;
  }

  .overlay-profile-img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    overflow: hidden !important;
    margin: auto;
    background: url(images/prof.png);
    background-position: center;
    background-size: cover;
  }

  .overlay-links {
    width: 40%;
    height: 100%;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    z-index: 3;
  }

  .overlay-text a {
    color: black;
    text-decoration: none;
  }

  .overlay-social-links {
    width: 100%;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
  }

  .social-links {
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }

  .social-bubble {
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 100%;
    transform: scale(0.6) rotate(345deg);
    margin: -4px;
  }

  .social-bubble img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  /* eye animation */
  @keyframes circle {
    0% {
      border-radius: 25px 25px 25px 25px;
    }

    100% {
      border-radius: 0px 25px 0 25px;
    }
  }

  @keyframes circle-close {
    100% {
      border-radius: 25px 25px 25px 25px;
    }

    0% {
      border-radius: 0px 25px 0 25px;
    }
  }

  @keyframes line {
    0% {
      height: 0px;
      background: #C8FFFB;
      border: 1.5px solid black;
      border-radius: 0%;
    }

    100% {
      height: 25px;
      background: #C8FFFB;
      border: 3px solid black;
      border-radius: 100%;
    }
  }

  @keyframes line-close {
    100% {
      height: 0px;
      background: black;
      border: 1.5px solid black;
      border-radius: 0%;
    }

    0% {
      height: 25px;
      background: white;
      border: 3px solid black;
      border-radius: 100%;
    }
  }

  .eye {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 20%;
    z-index: 10101010;
    transform: scale(0.6);
    justify-content: flex-start;
  }

  /* closed */
  .circle {
    border: black 3px solid;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: circle-close 0.3s;
    cursor: pointer;
  }

  .line {
    height: 0px;
    width: 25px;
    background: black;
    transform: rotate(45deg);
    border: 1.5px solid black;
    border-radius: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: line-close .2s;
  }

  .pupil {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: black;
    display: none;
  }

  /* open */
  .change .circle {
    background: white;
    border: black 3px solid;
    height: 50px;
    width: 50px;
    border-radius: 0 25px 0 25px;
    display: flex;
    justify-content: center;
    animation: circle 0.3s;
  }

  .change .line {
    height: 25px;
    width: 25px;
    background: #C8FFFB;
    border: 3px solid black;
    border-radius: 100%;
    animation: line 0.2s;
  }

  .change .pupil {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: black;
    display: block;
  }

  .card-main {
    width: 100%;
    padding: 0% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 5%;
  }

  .card {
    width: 300px;
    margin: 0 1%;
    text-decoration: none;
    color: black;
  }

  .card-img {
    width: 300px;
    height: 300px;
    background: ;
    border: 0px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .card i {
    color: #999;
  }

  .card-img img {
    width: 300px;
    height: auto;
  }

  .card-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card-header {
    color: #8F8F8F;
    font-size: 16px;
    font-family: "worksans", sans-serif;
    letter-spacing: 0.05em;
  }

  .card-title {
    font-size: 32px;
    margin: 0px;
    font-family: "mermaid"
  }

  .card-blurb {
    color: #8F8F8F;
    font-size: 18px;
    font-family: "worksans", sans-serif;
    width: 80%;
    text-align: center;
  }

  footer {
    height: 25vh;
    background: #F8F8F8;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-text {
    width: 100%;
  }

  footer h2 a {
    margin: 0 6%;
    font-size: 0.8em;
    color: black;
    text-decoration: none;
    font-family: "mermaid";
  }

  footer p {
    font-size: 0.8em;
    color: #555;
    font-family: "worksans";
  }

  footer a {
    color: #444;
    text-decoration: none;
    font-family: "worksans";
  }
}

/* -/-/-/-/-/-/-/-/-/-/ MOBILE \-\-\-\-\-\-\-\-\-\-\- */
@media screen and (max-device-width: 450px) {
  .stop-scrolling {
    height: 100%;
    overflow-y: hidden !important;
  }

  h1, h2, h3, h4, h5, h6 {
    /*reset for mobile browsers */
    font-weight: normal;
  }

  body::-webkit-scrollbar {
    width: 0 !important
  }

  main {
    padding-top: calc(5% + 110px);
    background: #F8F8F8;
  }

  html, body {
    margin: 0px;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @keyframes overlay-links {
    0% {
      transform: translateX(-100%);
      filter: blur(3px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes overlay-profile {
    0% {
      transform: translateX(-100%);
      filter: blur(3px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes overlay {
    0% {
      background: rgba(255, 255, 255, 0);
    }

    100% {}
  }

  .show .overlay-right {
    display: none;
  }

  .show .overlay1 {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    animation: overlay 0.5s;
  }

  .show .overlay-links {
    width: 100%;
    height: 30%;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    animation: overlay-links 0.5s;
    z-index: 0;
  }

  .show .overlay-profile {
    width: 100%;
    height: 70%;
    background: #FFF;
    display: flex;
    justify-content: center;
    animation: overlay-profile 0.5s;
  }

  .overlay-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "mermaid";
    font-size: 4em;
    text-align: center;
    margin: 3rem;
    line-height: 2em;
  }

  .overlay-text a {
    width: 100%;
  }

  @keyframes overlay-hide {
    0% {
      display: none;
      transform: translateX(0);
      filter: blur(0px);
      opacity: 1;
    }

    30% {
      filter: blur(30px);
      opacity: 0;
    }

    100% {
      display: flex;
      transform: translateX(-200%);
      background: rgba(255, 255, 255, 0.6);
      filter: blur(30px);
      opacity: 0;
    }
  }

  .overlay1 {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    background: white;
    flex-wrap: wrap;
    animation: overlay-hide 1.5s;
    animation-fill-mode: forwards;
  }

  .overlay-profile {
    width: 100%;
    height: 70%;
    background: #FFF;
    display: flex;
    justify-content: center;
  }

  .overlay-profile-flex {
    margin-top: 5vh;
    width: 75%;
    text-align: center;
  }

  .overlay-profile-flex h1 {
    width: 100%;
    text-align: center;
    font-family: "marigold";
    font-size: 6em;
    margin: 3vh 0;
  }

  .overlay-profile-flex p {
    width: 90%;
    text-align: center;
    margin: auto;
    font-family: "worksans";
    font-size: 3em;
    line-height: 1.3em;
    color: #888;
  }

  .overlay-profile-img {
    height: 40vw;
    width: 40vw;
    border-radius: 20vw;
    overflow: hidden !important;
    margin: auto;
    background: url(images/PROF.png);
    background-position: center;
    background-size: cover;
  }

  .overlay-links {
    width: 100%;
    height: 30%;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    z-index: 3;
  }

  .overlay-text a {
    color: black;
    text-decoration: none;
  }

  .overlay-social-links {
    width: 100%;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
  }

  .social-bubble {
    display: none;
    width: 15vw;
    height: 15vw;
    border: 0;
    border-radius: 100%;
    transform: scale(0.6) rotate(345deg);
    margin: -4px;
  }

  .social-bubble img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  /* eye animation */
  @keyframes circle {
    0% {
      border-radius: 25px 25px 25px 25px;
    }

    100% {
      border-radius: 0px 25px 0 25px;
    }
  }

  @keyframes circle-close {
    100% {
      border-radius: 25px 25px 25px 25px;
    }

    0% {
      border-radius: 0px 25px 0 25px;
    }
  }

  @keyframes line {
    0% {
      height: 0px;
      background: #C8FFFB;
      border: 1.5px solid black;
      border-radius: 0%;
    }

    100% {
      height: 25px;
      background: #C8FFFB;
      border: 3px solid black;
      border-radius: 100%;
    }
  }

  @keyframes line-close {
    100% {
      height: 0px;
      background: black;
      border: 1.5px solid black;
      border-radius: 0%;
    }

    0% {
      height: 25px;
      background: white;
      border: 3px solid black;
      border-radius: 100%;
    }
  }

  nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2.5%;
    position: fixed;
    background: #F8F8F8;
    transition: 0.2s;
  }

  .heading {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 20px;
    font-family: "marigold";
    font-size: 4em;
  }

  .eye {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 20%;
    z-index: 10101010;
    transform: scale(1.7);
    justify-content: center;
  }

  /* closed */
  .circle {
    border: black 3px solid;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: circle-close 0.3s;
    cursor: pointer;
  }

  .line {
    height: 0px;
    width: 25px;
    background: black;
    transform: rotate(45deg);
    border: 1.5px solid black;
    border-radius: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: line-close .2s;
  }

  .pupil {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: black;
    display: none;
  }

  /* open */
  .change .circle {
    background: white;
    border: black 3px solid;
    height: 50px;
    width: 50px;
    border-radius: 0 25px 0 25px;
    display: flex;
    justify-content: center;
    animation: circle 0.3s;
  }

  .change .line {
    height: 25px;
    width: 25px;
    background: #C8FFFB;
    border: 3px solid black;
    border-radius: 100%;
    animation: line 0.2s;
  }

  .change .pupil {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: black;
    display: block;
  }

  .card-main {
    width: 100%;
    padding: 5% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 25vw;
    padding-bottom: 15vw;
  }

  .card {
    width: 90%;
    text-decoration: none;
    color: black;
    margin-top: 10vw;
  }

  .card-img {
    width: 100%;
    margin: 0 !important;
    height: auto;
    background: ;
    border: 0px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .card i {
    color: #999;
  }

  .card-img img {
    width: 100%;
    margin: 0;
    height: auto;
  }

  .card-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card-header {
    color: #8F8F8F;
    font-size: 3em;
    font-family: "worksans", sans-serif;
    letter-spacing: 0.05em;
    margin: 1vh;
  }

  .card-title {
    font-size: 7em;
    margin: 0px;
    line-height: 1.2em;
    font-family: "mermaid"
  }

  .card-blurb {
    color: #8F8F8F;
    font-size: 3em;
    font-family: "worksans", sans-serif;
    width: 100%;
    text-align: center;
  }

  footer {
    height: 125vw;
    background: #F8F8F8;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-text {
    padding: 15vw 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  footer h2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    line-height: 10vh;
  }

  footer h2 a {
    width: 100%;
    margin: 0 3%;
    font-size: 2.5em;
    color: black;
    text-decoration: none;
    font-family: "mermaid";
  }

  footer p {
    font-size: 2em;
    color: #555;
    font-family: "worksans";
  }

  footer a {
    color: #444;
    text-decoration: none;
    font-family: "worksans";
  }
}
