.wrapper {
  width: 100%;
  padding: 0px;
  margin: 0px;
  height: 200px;
  overflow: hidden;

}

.card1 {
  width: 33.333%;
  height: 200px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  cursor: pointer;
}

.card2 {
  width: 33.333%;
  height: 200px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  cursor: pointer;
}

.card3 {
  width: 33.333%;
  height: 200px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  cursor: pointer;
}

.card_media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s;
  transform: scale(1.1);
  backface-visibility: hidden;
  margin: 0px;
}

.card-name {
  top: 50%;
  right: 0;
  left: 0;
  position: absolute;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  transform: translateY(-50%);
}

.card1:active .card_media, .card1:focus .card_media {
  transform: scale(1.2);
}

.card2:active .card_media, .card2:focus .card_media {
  transform: scale(1.2);
}

.card3:active .card_media, .card3:focus .card_media {
  transform: scale(1.2);
}

.card-content-box1 {
  width: 100%;
  height: auto;
}

.card-content-box2 {
  width: 100%;
  height: auto;
}

.card-content-box3 {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 5px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

/* Global */

button {
  cursor: pointer;
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  cursor: default;
}

p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Raleway';
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Karma', 'Lato';
  font-size: 35px;
  font-weight: normal;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: 'Raleway', 'Lato';
  font-size: 16px;
  font-weight: normal;
}

h3 {
  font-family: 'Raleway', 'Lato';
  font-size: 19px;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
}

h4 {
  font-family: 'Raleway', 'Lato';
  font-size: 15px;
  padding: 0px;
  margin: 5px 0px 0px 0px;
  font-weight: normal;
}

h5 {
  font-family: 'Raleway', 'Lato';
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #199790;
}

ul {
  list-style-type: none;
}

textarea, input, button {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  text-align: center;
  text-transform: lowercase;
  font-size: 15px;
}

/* Light and dark mode */

@keyframes image-invert {
  from {
    filter: none
  }
  to {
    filter: invert() brightness(1.5)
  }
}

@keyframes image-revert {
  from {
    filter: invert() brightness(1.5)
  }
  to {
    filter: none
  }
}

@keyframes to_dark-mode {
  from {
    background-color: white;
    color: #1A1A1A
  }
  to {
    background-color: #1A1A1A;
    color: white;
  }
}

@keyframes to_light-mode {
  from {
    background-color: #1A1A1A;
    color: white
  }
  to {
    background-color: white;
    color: #1A1A1A;
  }
}

@keyframes to_dark-mode_border {
  from {
    border-color: #1A1A1A;
  }
  to {
    border-color: white;
  }
}

@keyframes to_light-mode_border {
  from {
    border-color: white;
  }
  to {
    border-color: #1A1A1A;
  }
}

/* Light Mode */

body.light-mode {
  background-color: white;
  color: #1A1A1A;
  animation-name: to_light-mode;
  animation-duration: 0.5s;
}

body.light-mode img.nav-logo {
  filter: inert() brightess(1.5);
  animation-name: image-revert;
  animation-duration: 0.5s;
}

body.light-mode a {
  color: #1A1A1A;
  animation-name: to_light-mode;
  animation-duration: 0.5s;
}

body.light-mode a:hover {
  color: #199790;
}

body.light-mode button.toggle-button {
  background-color: white;
  animation-name: to_light-mode;
  animation-duration: 0.5s;
}

body.light-mode button.footer-button {
  background-color: white;
  color: #1A1A1A;
  border: 2px solid black;
  animation-name: to_light-mode;
  animation-duration: 0.5s;
}

body.light-mode h1.title-box {
  animation-name: to_light-mode_border;
  animation-duration: 0.5s;
}

/* Dark Mode */

body.dark-mode {
  background-color: #1A1A1A;
  color: white;
  animation-name: to_dark-mode;
  animation-duration: 0.5s;
}

body.dark-mode img.nav-logo {
  filter: invert() brightness(1.5);
  animation-name: image-invert;
  animation-duration: 0.5s;
}

body.dark-mode a {
  color: white;
  animation-name: to_dark-mode;
  animation-duration: 0.5s;
}

body.dark-mode a:hover {
  color: #199790;
}

body.dark-mode button.toggle-button {
  background-color: #1A1A1A;
  animation-name: to_dark-mode;
  animation-duration: 0.5s;
}

.toggle-button {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

body.dark-mode button.footer-button {
  background-color: #1A1A1A;
  color: white;
  border: 2px solid white;
  animation-name: to_dark-mode;
  animation-duration: 0.5s;
}

body.dark-mode h1.title-box {
  border: 2px solid white !important;
  animation-name: to_dark-mode_border;
  animation-duration: 0.5s;
}

.main {}

/* Nav bar */

.nav-bar {
  align-items: center;
  height: 100px;
  margin: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.nav-bar_right {
  flex-direction: column;
  justify-content: flex-end;
  height: 75px;
  padding-top: 5px;
  margin: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.nav-bar_left {
  justify-content: flex-start;
  height: 75px;
  margin: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.nav-title {
  height: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  order: 1;
}

.nametag {
  height: 45px !important;
}

.nav-links {
  padding-right: 0px;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 0px;
  order: 2;
}

.nav-logo_content {
  width: 33%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 0px;
}

.nav-logo {
  padding: 0px 0px 0px 15px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
}

.nav-links_text {
  padding: 0px 10px 0px 10px;
}

/* Social Media */

.social-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 10px 10px 10px;
}

.social-icon {
  padding: 20px;
}

/* About */

.about-content {
  padding: 5%;
}

/* Gear */

.gear-content {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.gear-list {
  display: flex;
  width: 60%;
  justify-content: flex-start;
  flex-direction: column;
}

.gear-titles {
  display: flex;
  width: 40%;
  justify-content: flex-end;
  margin: 0px !important;
}

.click-here {
  display: flex;
  width: 60%;
  justify-content: flex-start;
  flex-direction: column;
}

/* Contact */

.contact-content {
  display: flex;
  justify-content: center;
}

.contact-style_box {
  display: flex;
  justify-content: center;
  width: 250px;
  padding: 10px;
  margin: 10px;
  font-family: "Montserrat"
}

.contact-style_button {
  display: flex;
  justify-content: center;
  width: 272px;
  padding: 10px;
  margin: 10px;
  font-family: "Montserrat"
}

/* Footer */

.footer-content {
  align-items: center;
  height: 70px;
  margin: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.footer-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
}

.footer-right {
  padding-right: 15px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}

/* Projects */

.projects-box {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.projects-button {
  padding: 5px;
}

.projects-list {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: flex-start;
}

.projects-left {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
}

.projects-right {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  flex-direction: column;
}

/* Misc. */

@media screen and (max-width: 320px) {}

.shadow {
  z-index: 2;
  display: inline-block;
  -webkit-box-shadow: 0 0 8px 2px #000;
  -moz-box-shadow: 0 0 8px 2px #000;
  box-shadow: 0 0 8px 2px #000;
}

.icon-border {
  border-color: #000;
  border-width: 1px;
  border-radius: 50px;
  border-style: solid;
}

.pointer {
  cursor: pointer;
}

.snapwidget-widget {
  width: 90%;
  height: 50%;
}

.rotate {
  transform: rotate(360deg);
  transition-duration: 0.9s;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1);
  z-index: 2;
  cursor: pointer;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.begin {
  font-size: 12px;
}
