  body {
    background-color: #141414;
  }


  td {
    text-align: center;
    width: 25%;
    padding: 10px 10px 20px 10px;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
  }

  hr {
    float: left;
    margin-right: 100%;
    border: 1px white solid;
    width: 150px;
    margin-bottom: 10px;
  }

  #txt {
    font-size: 40px;
    color: white;
    font-family: "Lato", sans-serif;
    text-align: left;
    padding-bottom: 7px;
  }

  .wrapper {
    margin: 10%;
    max-width: 450px;
  }

  a {
    text-decoration: none;
    color: white;
    padding: 7px;
    font-family: "Montserrat";
  }

  .d2l:hover {
    color: #e6c220;
    transition: 0.5s
  }

  .reddit:hover {
    color: #ff461b;
    transition: 0.5s
  }

  .twitter:hover {
    color: #1bc1ff;
    transition: 0.5s
  }

  .youtube:hover {
    color: #ff1b1b;
    transition: 0.5s
  }

  .netflix:hover {
    color: #d81919;
    transition: 0.5s
  }

  .hulu:hover {
    color: #19d84c;
    transition: 0.5s
  }

  .asana:hover {
    color: #eb490d;
    transition: 0.5s
  }

  .ease:hover {
    color: #0dddeb;
    transition: 0.5s
  }

  .planetarium:hover {
    color: #c00deb;
    transition: 0.5s
  }

  .webclock:hover {
    color: #a60000;
    transition: 0.5s
  }

  .uwcu:hover {
    color: #c60000;
    transition: 0.5s
  }

  .outlook:hover {
    color: #0064ff;
    transition: 0.5s
  }

  .gmail:hover {
    color: #e23535;
    transition: 0.5s
  }

  .steam:hover {
    color: #cfcfcf;
    transition: 0.5s
  }

  .slack:hover {
    color: #22dbb5;
    transition: 0.5s
  }

  .twitch:hover {
    color: #8422db;
    transition: 0.5s
  }

  .transition {
    transition: 0.5s;
  }
  .wrapper2 {
    text-align: left;
  }
  .item {
    width: 49%;
    margin: 10px 0px;
    display: inline-block;
    text-align: left;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  }
