@import url('https://fonts.googleapis.com/css?family=Karma:400,500|Lato:100,300,400,700');

body, h1, h2, h3, h4, h5, p, a {
  margin: 0px;
  font-family: "Lato";
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #313131;
  transition: 0.3s;
}

a:hover {
  color: #00a5d4;
  transition: 0.3s;
}

h3, h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

h2 {
  font-size: 30px;
}


/* NAV BAR */
nav {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  position: fixed;
  top: 0;
  height: 36.75px;
  width: 100%;
  background: white;
  z-index: 2345;
}

nav a {
  padding: 9%;
  padding-top: 10px;
}

nav h3 {
  font-size: 17px;
}

nav h1 {
  font-size: 30px;
}



.nav-title {
  display: flex;
  width: 65%;
  justify-content: flex-start;
  font-size: 22px;
  padding-top: 0px;
  cursor: default;
  margin-left: 25px;
}
.nav-title_bold {
  font-family: "Lato";
  font-weight: 800;
  color: black;
  transition: 0.3s;
}
.nav-title:hover .nav-title_bold {
  color: #00a5d4;
  transition: 0.3s;
}

.nav-right {
  display: flex;
  width: 35%;
  justify-content: flex-end;
}
.menu-button {
  display: none;
}

.cursor {
  cursor: pointer;
}


/* MAIN */
main {
  padding-top: 77px;
  display: flex;
  justify-content: center;
}

.about {
  width: 80%;
  background: #313131;
  display: flex;
  justify-content: center;
  margin: 50px;
}

.about img {
  width: 333px;
}

.title-left {
  padding: 40px 5px 40px 0px;
  text-align: right;
  color: white;
  width: 50%;
}

.title-right {
  padding: 40px 0px 40px 5px;
  width: 50%;
  text-align: left;
  background: white;
}
.title-left p {
  line-height: 25px;
  padding-left: 10%;
  padding-top: 20px;
}

.title_bold {
  color: black;
  font-family: "Lato";
  font-weight: 400;
}

/* FOOTER */

footer {
  height: 300px;
  background: #313131;
  display: flex;
  justify-content: center;
}

.logo {
  width: 33%;
  text-align: center;
}
.logo img {
  width: 200px;
  height: 200px;
  padding-top: 55px;
}
.footer-title_bold {
  font-family: "Lato";
  font-weight: 400;
  color: white;
  transition: 0.3s;
}
.name {
  padding-top: 135px;
  color: white;
  width: 33%;
  text-align: right;
  margin-right: 5%;
}

.contact {
  text-transform: uppercase;
  color: white !important;
  width: 33%;
  padding-top: 75px;
  text-align: center;
  margin-left: 5%;
  line-height: 25px
}
.contact a {
  color: white;
  transition: 0.3s;
}

.contact a:hover {
  color: #00a5d4;
  transition: 0.3s;
}
